#cartTool {
    position: fixed;
    top: 30%;
    right: -250px;
    display: flex;
    transition: .4s ease;
    z-index: 9999;
}

.carToolShow {
    right: 0 !important;
}

.carToolHide {
    right: -250px !important;
}

#iconOpenCart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 60px;
    height: 60px;
    background-color: #F19A25;
    padding-inline: 12px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    transition: .4s;
}

#cart {
    width: 250px;
    background: linear-gradient(135deg, #FDEED9 0%, #F9E5C8 100%);
    border-left: 4px solid #F19A25;
    border-bottom-left-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

#cart h3 {
    background-color: #6F351B;
    color: #FDEED9;
    padding: 15px;
    font-size: 1.3em;
    border-bottom: 3px solid #F19A25;
}

.itemCart {
    padding: 8px 12px;
    font-size: 0.95em;
    color: #333;
}

#subTotal {
    padding: 15px;
    display: flex;
    gap: 5px;
}

#total, #confirm {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}

#total {
    background-color: #8de88d;
    color: #1a380f;
}

#confirm {
    background-color: #2c8ef7;
    color: white;
    transition: 0.3s;
}

#confirm:hover {
    background-color: #1464c8;
    cursor: pointer;
}

.btnPadrao {
    background-color: #F19A25;
    color: #6F351B;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.3s;
}

.btnPadrao:hover {
    background-color: #d37c14;
    color: #fff;
}

.btnPerigo {
    background-color: #d9534f;
    color: white;
}

.btnPerigo:hover {
    background-color: #b7322f;
}
