    main {
      text-align: center;
      padding: 50px;
    }
    h1 {
      font-size: 2.5em;
      color: #6F351B;
    }
    p {
      font-size: 1.2em;
      margin-top: 20px;
    }
    .btnVoltar {
      margin-top: 30px;
      padding: 10px 20px;
      background-color: #F19A25;
      color: #6F351B;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      transition: 0.3s;
    }
    .btnVoltar:hover {
      background-color: #be7310;
      color: #fff;
      cursor: pointer;
    }