* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: #f1992569;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Previne zoom em inputs no iOS */
@media (max-width: 480px) {
    input, select, textarea {
        font-size: 16px;
    }
}